stages:
  - infrastructure

.build_template:
  stage: infrastructure
  before_script:
    - |
      if [ -f "$INTERNAL_CA" ]; then
        mv "$INTERNAL_CA" internal.crt
      elif [ -n "$INTERNAL_CA" ]; then
        echo "$INTERNAL_CA" > internal.crt
      else
        echo "ERROR: Required variable INTERNAL_CA is not defined"
        exit 1
      fi
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
  script:
    - docker build --no-cache -f "$IMAGE_NAME/Dockerfile" -t "$CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA" -t "$CI_REGISTRY_IMAGE/$IMAGE_NAME:latest" .
    - docker push "$IMAGE"
    - docker push "$IMAGE_LATEST"
  after_script:
    - rm -f internal.crt
  tags:
    - runner-local

build-ansible:
  extends:
    - .build_template
  variables:
    IMAGE_NAME: "ansible"
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - ansible/Dockerfile
