stages:
  - infrastructure

.build_template:
  stage: infrastructure
  before_script:
    - |
      if [ -f "$INTERNAL_CA" ]; then
        mv "$INTERNAL_CA" internal.crt
      elif [ -n "$INTERNAL_CA" ]; then
        echo "$INTERNAL_CA" > internal.crt
      else
        echo "ERROR: Required variable INTERNAL_CA is not defined"
        exit 1
      fi
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
  variables:
    IMAGE_TAG_SHA: "$CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    IMAGE_TAG_LATEST: "$CI_REGISTRY_IMAGE/$IMAGE_NAME:latest"
  script:
    - docker build --no-cache -f "$IMAGE_NAME/Dockerfile" -t "$IMAGE_TAG_SHA" -t "$IMAGE_TAG_LATEST" .
    - docker push "$IMAGE_TAG_SHA"
    - docker push "$IMAGE_TAG_LATEST"
  after_script:
    - rm -f internal.crt
  tags:
    - runner-local

build_ansible:
  extends:
    - .build_template
  variables:
    IMAGE_NAME: "ansible"
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - ansible/Dockerfile
        - .gitlab-ci.yml
        
build_protobuf:
  extends:
    - .build_template
  variables:
    IMAGE_NAME: "protobuf"
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - protobuf/Dockerfile
        - .gitlab-ci.yml

build_golang_1_24_6:
  extends:
    - .build_template
  variables:
    IMAGE_NAME: "golang-1.24.6"
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - golang-1.24.6/Dockerfile
        - .gitlab-ci.yml
